<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boogle Login</title>
    <link rel="stylesheet" href="/static/css/boogle_style.css">
  </head>
  <body>
      <div class="slika-login">
        <img class="slika2" src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg" alt="Boogle">
      </div>
      <div class="login">
        <p>Vpiši se z Booglovim računom</p>
        <input class="login-bar" type="text" placeholder="E-mail" required>
        <input class="login-bar" type="text" placeholder="Geslo" required>
        <button class="button">Prijava</button>
        <p>Še nimaš računa?   <a href="https://google.com" class="create">Ustvari račun</a></p>
      </div>
      <div id="random">
      </div>
      <div id="bottom-nav">
        <a href="https://google.com" class="bottom">O Booglu</a>
        <a href="https://google.com" class="bottom">Oglaševanje</a>
        <a href="https://google.com" class="bottom">Zasebnost</a>
        <a href="https://google.com" class="bottom">Pogoji</a>
      </div>
  </body>
</html>
