<!DOCTYPE html>
  <html lang="en" dir="ltr">
     <head>
      <meta charset="utf-8">
      <meta name="description" content="My Fakebook">
      <meta name="keywords" content="fakebook, me">
      <meta name="author" content="Mojca Zorko">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/fakebook_style.css">
      <title>Mojca Zorko | Fakebook</title>
      </head>
    <body>
      <h1>FAKEBOOK</h1>
      <p><input class="searchbar" type="text" placeholder="Išči"></p>
      <br>
      <h2>Mojca Zorko</h2>
        <img src="https://i.ibb.co/xY4VJ31/DSC05426.jpg" border="0" alt="Mojca Zorko" title="Med zelenjem">
      <br>
      <br>
      <p>
        <button class="button" onclick="alert('Hi, new friend. :)')">Add as friend</button>
        <button class="button" onclick="alert('Hi, new stalker.')">Follow</button>
        <button class="button" onclick="alert('Bye!')">Block</button>
      </p>
      <br>
      <h3><strong>ABOUT</strong></h3>
      <p><strong>Location:</strong> Maribor</p>
      <p><strong>Age:</strong> No information</p>
      <p><strong>Education:</strong> Life</p>
      <p><strong>E-mail:</strong> Hidden</p>
      <p><strong>Hobbies:</strong> Games, music, languages</p>
    </body>
  </html>
