<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<p>To je moj portfolio.</p>
<p>Če te zanima več o meni, klikni <a href="/about">tu.</a></p>
<p>Spletne strani, ki sem jih izdelala tekom tečaja Smartninja: </p>
<ul>
    <li><a href="/boogle">Boogle</a></li>
    <li><a href="/boogle_login">Boogle login</a></li>
    <li><a href="/fakebook">Fakebook</a></li>
    <li><a href="/salon">Frizerski salon</a></li>
</ul>
<img src="/static/img/smartninja-logo.png">
</body>
</html>